body::before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url(picture/Girl.jpg) center / cover no-repeat;
  filter: blur(5px); /* Размытие */
}

.center {
  background-color: #f5f6f7;
  border-radius: 4px;
  width: 380px;

  position: relative;
  margin: 0 auto;
}
.image {
  width: 100%;
 
}
.image img {
  width: 100%;
  height: 100%;
  
  border: 1px solid black;
  border-radius: 4px 4px 0px 0px;
  box-sizing: border-box;
}
.position {
  padding: 20px;
}
.position h2 {
  font-size: 16px;
  color: #3f4041;
  font-family: "Proxima Nova";
  font-weight: bold;

  margin: 0px 0px 10px 0px;
}
.position a {
  text-decoration: none;
  color: #000; 
  
  width: 100%;
  height: 100%;
}
.position.style {
  box-shadow: 0px 1px 0px rgba(49, 49, 50, 0.05);
}
.social {
  display: flex;
  flex-direction: row;
  
  font-size: 13px;
  font-weight: normal;
  color: #797b7c;
  font-family: "Proxima Nova";
}

.social div {
  margin: 0px 20px 0px 0px;
}
.social img {
  width: 13px;
  height: 11px;
}
.pinned {
  margin: 0;

  font-size: 13px;
  font-weight: normal;
  color: #797b7c;
  font-family: "Proxima Nova";
}

.userPhoto {
  width: 30px;
  height: 30px;  
  border-radius: 3px;

  margin: 0px 10px 0px 0px;
}
.historyMessage {
  margin: 0px 0px 10px 0px;
}
.historyMessage ul {
  padding: 0;
  margin: 0;
}
.historyMessage li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  list-style-type: none;
  padding-left: 0;
  
}
div h2.userNick {
  font-size: 14px;
  font-weight: bold;
  color: #3f4041;
  font-family: "Proxima Nova";

  margin: 0px;
 
}

.historyMessage p {
  margin: 0px;
  padding: 0px;
  font-size: 13px;
  color: #3f4041;
  font-family: "Proxima Nova";
}

form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: top;
}
form div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}
textarea {
  width: 100%;
  height: 60px;
  border-radius: 3px;
  
  background-color: #f5f6f7;
  border: 1px solid #d1d2d3;
  font-size: 13px;
  color: #3f4041;
  font-family: "Proxima Nova";
  box-sizing: border-box;
  padding: 10px;
  resize: none;
  margin-bottom: 10px;
  
 
}
textarea:focus {
  border-color: #000;
  outline: 0 none;
}
button {
  align-self: flex-end;
  width: 65px;
  height: 30px;
  border-radius: 2px;
  box-shadow: 0px 2px 0px rgba(142, 19, 25, 0.15);
  border: 1px solid #bd1921;
  background-image: linear-gradient(0deg, #c31a22 0%, #d71d26 100%);
  box-sizing: border-box;
  font-size: 14px;
  color: #ffffff;
  font-family: "Proxima Nova";
  font-weight: bold;
}
