body::before 
    {
    content: '';
    position: fixed; /* Фиксируем на одном месте */
    left: 0; right: 0; /* Вся ширин */
    top: 0; bottom: 0; /* Вся высота */
    z-index: -1; /* Фон ниже текста */
    /* Параметры фона */
    background: url(picture/Girl.jpg) center / cover no-repeat;
    background-size: cover;
    filter: blur(5px); /* Размытие */
    }
body 
   {
    color:black; /* Цвет текста */
}

 .center
{

    font-family: 'Times New Roman', Times, serif;
    background-color: aliceblue;
    width: 30%;
    height: auto;
    position: absolute;
    top: 0;left: 0;right: 0; bottom:0;
    margin: auto;
    filter: blur(0);

}
.center .image
{
    width: 100%;
    height: 90%;
    
}
.position
{
    margin: 30px;
}
.position h2
{
    
    font-size: 30px;
}


.social
{    
    font-size: 20px;
    font-weight: normal;  
}
.social img
{
    width: 25px;
    height: 25px;
}
.pinned
{    
    font-size: 25px;
    font-weight: normal;    
}
.historyMessage ul
{
    list-style-type: none;
    padding-left: 0;
}
.historyMessage img
{
    float: left;
    margin: 0 5px 0 10px;
    width: 20%;
    height: 20%;
}
.historyMessage h2
{
    font-size: 20px;
    font-weight: normal;    
}
.historyMessage p
{
    border: 1px black solid;
}